.managementCard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 450px;
    padding: 10px;
    margin: 10px;
    border: 1px gray solid;
    border-radius: 5px;
}

.cardRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.cardRow span {
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.inputNumber {
    width: 50px;
    margin-left: 10px;
}
