*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.main {
    padding-top: 110px;
    padding-bottom: 70px;
    font-family: 'Roboto Slab', sans-serif; /* 'Montserrat' 'Kaushan Script' 'Roboto Slab' 'Marck Script' 'STIX Two Text'*/
    font-size: 16px;
    margin: 0;
    height: 100%;

    background: #f8f9fa;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-inherit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* ================= Button ================= */
.card {
    background: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.cardInherit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cardHeader {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 10px;


    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.cardBody {
    padding: 10px;
}


/* ================= Button ================= */

.btnSmall,
.btnNormal,
.btnLarge {
    width: 100%;
    border-radius: 2px;
    border: none;
    background: linear-gradient(to left, rgb(72, 199, 13), rgb(141, 190, 60));
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.btnSmall:hover,
.btnNormal:hover,
.btnLarge:hover {
    background: linear-gradient(to left, rgb(66, 187, 12), rgb(129, 172, 55));
}

.btnSmall:active,
.btnNormal:active,
.btnLarge:active {
    background: linear-gradient(to left, rgb(57, 161, 11), rgb(107, 142, 45));
}

.btnSmall:disabled,
.btnNormal:disabled,
.btnLarge:disabled {
    background: #868e96;
}

.btnSmall {
    padding: 6px;
    font-size: .8rem;
}

.btnNormal {
    padding: 8px;
    font-size: 1.0rem;
}

.btnLarge {
    padding: 12px;
    font-size: 1.2rem;
}


/* ================= Scrollbar ================= */

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 20px;
}